@model IEnumerable<NewGallery.Models.ArtistsandPaints>
@{
    Layout = "~/Views/Shared/_LayoutUserMode.cshtml";
    ViewBag.Title = "Index";
}

<h2>Paints & Artists</h2>

<table class="table">
    <tr>
        <th>Artist name</th>
        <th>Paint name</th>
        <th>Email</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TheArtist.ArtistName</td>
            <td>@item.ThePaint.Paintname</td>
            <td>@item.TheArtist.Email</td>
            <td>@item.ThePaint.Price</td>

        </tr>
    }
</table>

