
aside {
    display: block;
    width: 20%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color: lightgray;
}
.container {
    border: 1px solid lightgray;
    width: 80%
}
article {
   display :black;
   
}


